

.review-container {
    display: grid;
}


.display-success {
    display: grid;
    justify-content: center;
    align-items: center;
}
.display-success h3 {
    text-align: center;
    margin: var(--margin-all-h3);
    width: var(--size-sub-card);
    color: var(--color-text-h3);
    line-height: 1.8;
}




.display-review {
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--size-sub-card);
    margin: 0 auto 0 auto; 
    text-align: center;
}

.display-review h3 {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: var(--margin-all-h3);
    width: var(--size-sub-card);
    color: var(--color-text-h3);
}


.display-review button {
    margin: var(--margin-all-buttons);
    width: var(--size-sub-card);
}



.review-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.review-info p {
    font-size: .85rem;
}

.info-left {
    text-align: right;
}

.info-right {
    text-align: left;
    margin: 0 0 0 10px;
}
