
:root {
    --color-hover-yellow: rgba(206, 164, 50, 0.99);
}

.review-container {
    /* border: 1px solid red; */
}


.display-success {
    display: grid;
    justify-content: center;
    align-items: center;
}
.display-success h3 {
    text-align: center;
    margin: var(--margin-all-h3);
    width: var(--size-sub-card);
    color: var(--color-text-h3);
    line-height: 1.8;
}




.display-review {
    /* border: 1px solid green; */
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--size-sub-card);
    margin: 0 auto 0 auto; 
    text-align: center;
}

.display-review h3 {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: var(--margin-all-h3);
    width: var(--size-sub-card);
    color: var(--color-text-h3);
}



.edit-button-container {
    display: grid;
    padding: 8px 0 5px 0;
    height: 120px;
}

.button-edit {
    margin: 0 -10px 0px 0px ;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    height: 25px;
}
.button-edit:hover {
    background-color: var(--color-hover-yellow);
    color: white;
}



.display-review .button-submit {
    margin: var(--margin-all-buttons);
    /* width: var(--size-sub-card); */
}

.review-info {
    /* border: 1px solid blue; */
    display: grid;
    width: var(--size-sub-card);
    grid-template-columns: 1fr 1fr .15fr 
}

.review-info p {
    font-size: .9rem;
}

.info-left {
    text-align: right;
}

.info-right {
    text-align: left;
    margin: 0 10px 0 8px;
}
