
/* main container */

:root {
  --size-width-app: 400px;
  --size-sub-card:  300px;

  --margin-all-h3: 15% 0 15% 0;
  --margin-all-buttons: 10% 0 0 0; 

  --radius-content: 12px;

  --color-text-h3: hsla(220, 10%, 15%, .9);

}


.app-container {
  /* border: 1px solid green; */
  display: grid;
  justify-content: center;
  margin: 5% 0 0 0;
}


.content-container {
  /* border: 1px solid red; */
  display: grid;
  justify-content: center;
  /* width: var(--size-width-app); */
  padding: 0 0 5% 0;
  box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
  border-radius: var(--radius-content);
}