

.form-understanding {
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--size-sub-card);
    margin: 0 auto 0 auto; 
    text-align: center;
}

.form-understanding h3 {
    margin: var(--margin-all-h3);
    width: var(--size-sub-card);
}

.form-understanding button {
    margin: var(--margin-all-buttons);
}
