
:root {
    --color-background-main: hsla(217, 95%, 24%, .9);
    --color-text-white:      hsla(220, 5%, 95%, .9);

}

.app-header {
    background-color: var(--color-background-main);
    min-height: 50px;
    color: var(--color-text-white);
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--size-width-app);
    border-top-left-radius: var(--radius-content);
    border-top-right-radius: var(--radius-content);
}

.app-header h1 {
    margin: 18% 0 0 0; 
}


.app-header h4 {
    font-style: italic;
}
