

.form-comments {
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--size-sub-card);
    margin: 0 auto 0 auto; 
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
}

.form-comments h3 {
    margin: var(--margin-all-h3);
    width: var(--size-sub-card);
    color: var(--color-text-h3);
    grid-column: span 2;
}

.form-comments .MuiTextField-root {
    grid-column: span 2;
    margin: 0 0 15px 0;
}

.form-comments button {
    margin: var(--margin-all-buttons);
}


